/Addressbook.class
/Bestellijst.class
/BestellingenDAO.class
/KeuzeMenu.class
/test.class
/Adres.class
/Artikel.class
/Bestelling.class
/BestellingDAO.class
/DataRandomizer.class
/DatabaseConnection.class
/Klant.class
/KlantDAO.class
/AdresDAO.class
/Adreslijst.class
/Naam.class
/Klantbestand.class
